<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js" defer></script>
</head>
<body>
    <div id="app">
        <h1>Lista de Tareas</h1>
        <input v-model="newTask" @keyup.enter="addTask" placeholder="Agregar nueva tarea" />
        <ul>
            <li v-for="(task, index) in tasks" :key="index">
                {{ task }}
                <button @click="removeTask(index)">Eliminar</button>
            </li>
        </ul>
    </div>
</body>
</html>